@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12pt;
}

body, html{
    background: #fff;
}

form{
    display: table;
    max-width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #00ffff54;
    border-radius: .5rem;
}
fieldset{
    padding: .5rem;
    margin: .5rem;
}

label, input, p, h3{
    margin: .5rem;
}

#inputEmail, #inputName, #inputLastName {
    border: none;
    padding: .5rem;
    border-radius: .2rem;
}

button {
    display: block;
    width: 10rem;
    height: 3rem;
    border: none;
    padding: .5rem;
    margin: 1rem auto;
}
button:hover{
    background-color: greenyellow;
}
header{
    display: flex;
    justify-content: center;
    
}
header > a{
    background-color: red;
    border-radius: 50%;
    margin-top: .2rem;
    padding: 1rem;
    font-weight: 900;
    color: #fff;
}
#information{
  margin: .2rem ;
  opacity: 0;
  transition:  .4s all linear ;
  text-align: center;

}
header > a:hover ~ #information{
    opacity: 1;
}